<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jin.calenee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/calenee_icon"
        android:label="@string/app_name_kor"
        android:roundIcon="@mipmap/calenee_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LightPurple"
        tools:replace="android:label">
        <activity android:name=".chat.ChattingActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".ConnectionInputActivity" />
        <activity android:name=".ConnectionActivity" />
        <activity
            android:name=".login.ResetPwActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.SignUpActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".login.CaleneeLoginActivity" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.LightPurple" />
    </application>

</manifest>